
body {
    font-family: 'Font Name', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #110d5b;
  }
  
  .card {
    background-color: #121111;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    margin: 5%;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: auto;
    transition: transform 0.2s;
  }
 
  
  .info {
    padding: 20px;
  }
  
  .name {
    margin-top: 50%;
    margin: 0;
    font-size: 1.5rem;
    color: #ffffff;
  }
   .h1{
    margin-top: 50%;
    margin: 0;
    font-size: 1.5rem;
    color: #ffffff;
   }
  
  .description {
    margin-top: 10px;
    color: #666;
    font-size: 0.9rem;
  }
  